html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;

  display: none;
  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-navigation,
.user-navigation,
.submenu,
.social,
.info,
.about-us-list,
.catalog-list,
.crumbs {
  list-style: none;
}

.modal{
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 27px;

  box-sizing: border-box;
}

.main-navigation {
  display: flex;

}

.main-navigation a {
  color: #ffffff;
}

.logo {
  padding-top: 9px;
}

.site-navigation {
  margin: 0;
  margin-right: auto;
  padding: 0;

  display: flex;
}

.site-navigation>li:not(:last-child) {
  margin-right: 15px;
}



.site-item>a {
  display: inline-block;
  position: relative;

  padding: 10px 16px;

  line-height: 18px;
  font-weight: 700;
}

.site-item>a::before {
  content: " " ;
  position: absolute;
  left: 15%;
  bottom: 20%;

  width: 60px;
  height: 1px;

  background-color:rgba(255,255,255, 0.2);
}

.site-item:hover>a {
  color:#323232;

  background-color: #ffffff;
  border-bottom: 0px;
  border-radius: 20px 20px;
}

.site-item>a:active{
  background-color: rgb(248, 247, 244);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-item>a:hover::before {
  display: none;
}


.site-item:hover .submenu {
  display: block;
}

.submenu {
  position: absolute;
  top: 90%;
  left: 0px;

  display: none;

  padding: 0;

  width: 145px;

  background-color: #ffffff;
  border-radius: 5px;
}

.submenu li {
  padding: 8px 21px;
}

.submenu li:first-child  {
  padding: 13px 0;
}

.submenu a {

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu li:first-child a {
  margin: 0 6px;
  padding: 15px;
  padding-right: 57px;

  color: #323232;
  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.submenu li:hover {
  background-color: rgb(251, 222, 215);
}

.submenu li:active {
  background-color: rgb(246,181,165);
}

.active {
  color: #ffffff;
  background-color:#d07058;
  border-bottom: none;
}

.site-active {
  padding: 10px 15px;
  border-radius: 20px 20px;
}





.user-navigation {
  margin: 0;
  margin-left: auto;

  display: flex;
  align-items: center;
}

.user:not(:last-child){
  padding-right: 10px;
}

.user>a {
  display: block;
  padding: 6px 16px;

  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255,255,255, 0.2);
  border-radius: 20px 20px;
}

.user:hover>a {
  color:#323232;

  background-color: #ffffff;
  border-radius: 20px 20px;
}

.user:hover >.popup {
  display: block;
}

.site-item,
.user{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.search a {
  padding: 7px ;
  margin: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.search>a::before {
  content: "";

  position: absolute;

  width: 17px;
  height: 17px;

  background-image: url("../img/header_search_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.authorization>a::before {
  content: "";

  width: 21px;
  height: 19px;

  margin-right: 8px;

  display: inline-block;
  vertical-align: middle;

  background-image: url("../img/header_autorization_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket a{
  width: 119px;
}

.basket-empty>a::before {
  content: "";
  margin-right: 8px;

  width: 21px;
  height: 20px;

  display: inline-block;
  vertical-align: middle;

  background-image: url("../img/header_basket_icon_empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

 .basket-full>a{
  color: #323232;
  background-color: #ffffff;
}

.basket-full>a::before {
  content: "";

  margin-right: 8px;

  width: 21px;
  height: 20px;

  display: inline-block;
  vertical-align: middle;

  background-image: url("../img/header_basket_icon_full.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search:hover>a::before {
  content: "";

  position: absolute;

  width: 17px;
  height: 17px;

  background-image: url("../img/header_search_icon_hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.authorization:hover>a::before {
  content: "";

  width: 21px;
  height: 19px;

  margin-right: 8px;

  display: inline-block;
  vertical-align: middle;

  background-image: url("../img/header_autorization_icon_hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-empty:hover>a::before {
  content: "";
  margin-right: 8px;

  width: 21px;
  height: 20px;

  display: inline-block;
  vertical-align: middle;

  background-image: url("../img/header_basket_icon_empty_hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}





.popup {
  box-sizing: border-box;
  position: absolute;
  top: 90%;
  right: 0px;

  display: none;

  padding: 20px 16px;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.modal {
  background-color: #f8f7f4;
}

.popup input,
.modal-feedback input,
.modal-feedback textarea,
.subscription-form input{
  width: 240px;
  height: 40px;

  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color:#999999;

  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 5px;
}

.modal-feedback input,
.modal-feedback textarea,
.subscription-form input{
  font-size: 16px;
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}




.popup-search input{
  margin: 0px;
}


.structure-authorization {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alt-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.alt-actions a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color:#323232;

  border-bottom: 1px solid rgba(0,0,0, 0.3);
}




.popup-basket {
  padding-right: 10px;
  padding-left: 10px;
}

.popup-basket p{
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color:#323232;
}

.menu-product-basket {
  width: 540px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  box-sizing: border-box;
}

.product-basket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.product-basket:last-child {
  border-bottom: 1px solid #cacac7;
}

.product-basket td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.button-close {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
}

.button-close::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;

  margin-right: 14px;

  background-image: url("../img/header_basket_button_close.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
}

.product-basket img {
  border-radius: 50%;
  margin-right: 14px;
}

.basket-name {
  width: 220px;
  margin-right: 34px;
}

.basket-price {
  margin-right: 30px;
}

.structure-basket {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.alt-actions a:hover,
.alt-actions a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232,77,55, 0.3);
}

.popup input:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover,
.subscription-form input:hover {
  box-shadow: 0 0 0 2px #c7c6c5;
}

.popup input:focus,
.modal-feedback input:focus,
.modal-feedback textarea:focus,
.subscription-form input:focus {
  color:#323232;

  box-shadow: 0 0 0 2px #8fbdec;
}

.ordering-offline {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.ordering-offline .time-work {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.ordering-offline .number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}







.crumbs {
  padding: 0;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.crumbs li:not(:last-child) {
  padding-right: 22px;
}


.crumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.crumbs .active-crumbs {
  border-bottom: none;
}

.crumbs a:hover,
.crumbs a:active,
.catalog-title:hover,
.catalog-title:active {
  color:#ffbc9e;
  border-bottom: 1px solid rgba(255,188,158, 0.3);
}

.page-title {
  padding: 0;
  margin-bottom: 36px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}









.site-wrapper {
  width: 100%;
  background-color: #849d8f;
  background-image: url("../img/home_sale_brulee_raspberry.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  content: "";
  background-image: url("../img/home_sale_chocolate_lemon.png");
}

.site-wrapper::after {
  content: "";
  background-image: url("../img/home_sale_fudre-strawberry.png");
}

.slider {
  position: relative;

  margin-top: 321px;
  margin-bottom: 40px;


  text-align: center;
  color:#ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}


.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}


#product-1:checked ~ .site-wrapper #brulee-raspberry,
#product-2:checked ~ .site-wrapper #chocolate-lemon,
#product-3:checked ~ .site-wrapper #fudre-strawberry {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/home_sale_brulee_raspberry.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/home_sale_chocolate_lemon.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/home_sale_fudre-strawberry.png");
}









.structure {
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
}

.structure section:last-of-type{
  margin-right: 0px;
}

.stock-jam,
.stock-chocolate,
.subscription,
.blog {
  width: 50%;

  margin-right: 27px;

  border-radius: 15px;
}

.stock-jam,
.stock-chocolate {
  padding:23px 20px;
}

.stock-jam {
  background-image: url("../img/home_stock_jam_bg.jpg");
  background-repeat: repeat-y;
}

.stock-chocolate {
  background-image: url("../img/home_stock_chocolate_bg.jpg");
  background-repeat: repeat-y;
}

.stock-jam h3,
.stock-chocolate h3,
.stock-jam p,
.stock-chocolate p,
.blog h2,
.blog h3 {
  padding: 0px;
  margin: 0px;
}

.stock-jam h3,
.stock-chocolate h3 {
  padding-bottom: 17px;

  font-size:35px;
  line-height: 41px;
  font-weight: 700;
}

.stock-jam p,
.stock-chocolate p {
  font-size: 18px;
  font-weight: 700;
}

.structure-stock {
  display: flex;
  justify-content: flex-end;

  padding-top: 40px;
}







.catalog-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}


.catalog-item {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;

  position:relative;
  text-align: center;

}

.catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item img{
  position: relative;
  margin-bottom: 10px;
  border-radius: 50%;

}


.catalog-title {
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  color: #ffffff;

}


.catalog-item .price,
.catalog-item .weight {
  position: absolute;
  display: inline-block;


  font-size: 45px;
  line-height: 1px;
  font-weight: 600;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .price {
  position: absolute;
  left: 0;
  bottom:27%;
}

.price::after {
  content: "";

  width: 28px;
  height: 31px;

  display: inline-block;
  background-image: url("../img/catalog_prise_ruble.svg");
}

.catalog-item .weight {
  bottom: 30%;
  left: 40%;

  font-size: 30px;
}

.hit::before {
  content: "";
  position: absolute;

  width: 61px;
  height: 61px;

  background-image: url("../img/home_catalog_hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;


}

.catalog-item .button{
  display: none;
  position: absolute;
  bottom: -20%;
  left: 10%;


}

.catalog-item::before {
  content: " ";
  width: 293px;
  height: 405px;


  position: absolute;
  top: -1%;
  right: -5%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: none;
 z-index: 1;
}

.catalog-item:hover::before {
display: block;
}

















.about-us {

  margin-bottom: 40px;
  padding-bottom: 10px;

  background-color: #ffffff;
  background-image: url("../img/home_about_us_bg.jpg");
  background-repeat: repeat-x;
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 15px;
}

.about-us b {
  display: inline-block;
  padding: 20px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.about-us-list {
  padding: 0px;
  margin: 0px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us-list p {
  font-weight: 400;
  color: #323232;
}

.about-us-item {
  width: 50%;
}

.about-us-item p{
  padding-left: 57px;
}

.icon-ice:before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;

  background-image: url("../img/home_about_us_icon_icecream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-cow:before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;

  background-image: url("../img/home_about_us_icon_cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-leaf:before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;

  background-image: url("../img/home_about_us_icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-thermometer:before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;

  background-image: url("../img/home_about_us_icon_thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}






.blog {
  padding: 22px;

  background-color: #ffffff;
  background-image: url("../img/home_blog_bg.jpg");
  background-repeat: no-repeat;
  background-position-y: 38%;
  background-position-x: 18%;
}

.blog h2 {
  font-size:16px;
  color: #323232;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  border-bottom: 2px solid #353535;
}

.blog a:hover,
.blog a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232,77,55, 0.3);
}



.subscription {
  box-sizing: border-box;
  padding: 5px;

  background-image: url("../img/home_subscription_background.svg");
  background-repeat: repeat-y;
}

.subscription-form {
  padding: 30px 20px;
  width: 550px;

  box-sizing: border-box;

  display: block;
  border-radius: 15px;

  background-color: #f8f7f4;
}

.subscription-form p {
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;

  font-weight: 400;
  color: #5a5a5a;
}

.subscription-form input {
  height: 40px;
}



.structure-contacts {
  position: relative;
}

.map {
  width: 100%;
  height: 430px;

  position: relative;

  background-image: url("../img/home_map.png");
  background-repeat: repeat-x;
  background-position-x: 50% ;
  background-position-y: 50% ;
}

.map .map-pointer {
  display: block;
  position: absolute;
  bottom: 35%;
  left: 25%;
}

.container.contacts-wrapper {
  display: flex;
  justify-content: flex-end;
}

.contacts {
  width: 302px;

  padding: 30px 25px;
  margin: 62px 0px;

  box-sizing: border-box;
  position: absolute;
  top: 0;

  background-color: #ffffff;
  border-radius: 15px;
}

.contacts p {
  margin: 0;
  padding: 0;

  margin-bottom: 23px;
}

.address,
.tel {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.address b,
.tel b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}




.container.footer-wrapper {
  margin-top: 40px;
  padding-bottom: 35px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.social {
  width: 30%;

  padding: 0;
  margin: 0;

  display: flex;
  align-items: flex-end;
}

.social-button{
  padding-right: 16px;
}

.social-button svg {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  opacity: 0.8;
}

.social-button svg:hover {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-button svg:active {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  opacity: 0.7;
}

.info {
  width: 30%;

  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.info li {
  width: 50%;
}

.info a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.info a:hover,
.info a:active {
  color:#ffbc9e;
  border-bottom: 1px solid rgba(255,188,158, 0.3);
}

.info-suppliers {
  position: relative;
}

.info-suppliers::before {
  content: "";

  width: 15px;
  height: 13px;

  position: absolute;
  left: -20%;
  bottom: 0;

  background-image: url("../img/footer_heart_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-suppliers:hover::before {
  content: "";

  width: 15px;
  height: 13px;

  position: absolute;
  left: -20%;
  bottom: 0;

  background-image: url("../img/footer_heart_icon_hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  width: 30%;

  display: flex;
  justify-content: flex-end;
}

.footer-copyright p {
  margin: 0;
}

.button-academy {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;
}

.button-academy b {
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.button-academy b:hover {
  color:#ffbc9e;
  border-bottom: 1px solid rgba(255,188,158, 0.3);
}














.bar{
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
}

.bar fieldset {
  margin: 0;
  padding: 0;

  padding-right: 15px;

  margin-bottom: 20px;

  border: none;
}

.bar legend {
  margin: 0;
  padding-left: 16px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
}

.bar label,
.bar option,
.bar select,
.bar button{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.bar select,
.bar button,
.bar .decoration {
  background-color: rgba(255,255,255, 0.2);
}

.bar select {
  outline: none;
  padding: 12px 16px;
  border-radius: 40px;
}

.sorting-bar select:hover {
  color:#323232;
}

.sorting-bar select:focus,
.sorting-bar option:focus {
  background-color: #ffffff;
  border:none;
  outline: none;
}

.sorting-bar  option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.decoration {
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 30px;
}

.fat-bar label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  width: 25px;
  height: 25px;
  background-image: url("../img/catalog_bar_button_radio_off.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  opacity: 0.8;

}

.fat-bar label {
  display: inline-block;
  vertical-align: center;
  margin-right: 17px;
}

 .toppings label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

   width: 25px;
   height: 25px;
   background-image: url("../img/catalog_bar_button_checkbox_off.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   opacity: 0.8;
 }

.toppings label {
  margin-right: 17px;
}

.fat-bar input:checked::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  width: 25px;
  height: 25px;

  background-image: url("../img/catalog_bar_button_radio_on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.toppings input:checked::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  width: 25px;
  height: 25px;

  background-image: url("../img/catalog_bar_button_checkbox_on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.fat-bar label:hover::before,
.toppings label:hover::before,
.fat-bar input:checked::before,
.toppings input:checked::before{
  opacity: 1;
}

.fat-bar label:disabled::before,
.toppings label:disabled::before,
.fat-bar input:checked::before,
.toppings input:checked::before {
  opacity: 0.4;
}



.bar button {
  display: inline-block;
  margin-top: 28px;
  padding: 8px 16px;

  text-align: center;
  vertical-align: top;

  outline: none;

  border: 2px solid #ffffff;
  border-radius: 30px;
}

.bar button:hover {
  color:#323232;

  background-color: #ffffff;
}

.bar button:active,
.bar button:focus {
  color: #323232;
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}





.page-navigation {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;

  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.page {
  padding: 6px 12px;

  font-size: 16px;
  line-height: 18px;
  color:#ffffff;

  border-radius: 50%;
}

.page-navigation .active {
  color:#323232;

  background-color: #ffffff;
}

.page:hover {

  background-color: rgba(255,255,255, 0.2);
}

.prev::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 13px;

  margin-right: 25px;

  background-image: url("../img/catalog_pagination_prev.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
  opacity: 0.2;
}

.next::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 13px;

  margin-left: 25px;

  background-image: url("../img/catalog_pagination_next.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}






.button {
  display: inline-block;
  padding:14px 22px;

  outline: none;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color:#ffffff;
  vertical-align: top;
  text-decoration: none;

  background-color: #f26843;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;

  cursor: pointer;
}

.slider-button {
  padding: 12px 44px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  border-radius: 50px;
}

.button:hover {
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 2px 2px #ac1000;
}


.button:active {
  background-image: linear-gradient(to top, #e1613e 0%, #d84732 100%);
  box-shadow: inset 0 2px 2px #942718;
}









































