body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}


.site-navigation,
.user-navigation,
.submenu,
.social,
.info,
.about-us-list,
.catalog-list,
.crumbs {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-item>a{
  line-height: 18px;
  font-weight: 700;

  border-bottom: solid;
  border-width: 1px;
  border-color: #b0c0b7;
}

.site-item>a:hover,
.site-item>a:active{

  color: #323232;

  background-color:#ffffff;
  border-bottom: none;
}

.site-item>a:active{
  background-color: rgb(248, 247, 244);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.submenu {
  display: none;

  background-color: #ffffff;
}

.submenu a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

/* Примерный размер отступа для наглядности*/
.submenu li {
  padding: 5px;
}

.submenu li:first-child {
  color: #323232;
  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.submenu li:first-child a {
  color: #323232;
  font-weight: 700;
}

.site-item:hover .submenu {
  display: block;
}

.site-active,
.submenu-active {
  background-color: rgb(208,112,88);
}
.site-active a,
.submenu-active a {
  color: #ffffff;
}

.submenu li:hover {
  background-color: rgb(251, 222, 215);
}

.submenu li:active {
  background-color: rgb(246,181,165);
}

.user-navigation a{
  font-size: 14px;
  line-height: 16px;
}



.popup {
  display: none;
}

.popup,
.modal {
  padding: 10px;/* Произвольный отступ для наглядности*/

  background-color: #f8f7f4;
}


.popup input[type="search"],
.popup input[type="email"],
.popup input[type="password"],
.modal-feedback input[type="text"],
.modal-feedback input[type="email"],
.modal-feedback textarea,
.subscription-form input[type="email"]{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color:#999999;

  outline: none;
  border: 1px solid rgb(211,211,210);
  border-radius: 5px;
}

.modal-feedback input,
.modal-feedback textarea,
.subscription-form input{
  font-size: 16px;
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.alt-actions a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color:#323232;

  border-bottom: 1px solid rgba(0,0,0, 0.3);
}

.product-basket td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.popup-basket p{
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color:#323232;
}

.user:hover >.popup {
  display: block;
}

.user:hover>a{
  color:#323232;

  background-color: #ffffff;
  border-radius: 20px 20px;
}

.alt-actions a:hover,
.alt-actions a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232,77,55, 0.3);
}

.popup input:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover,
.subscription-form input:hover {
  border: 2px solid #c7c6c5;
}

.popup input:focus,
.modal-feedback input:focus,
.modal-feedback textarea:focus,
.subscription-form input:focus {
  font-size: 16px;
  font-weight: 700;
  color:#323232;

  border: 2px solid #8fbdec;
}

.ordering-offline .time-work {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.ordering-offline .number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.sale-item h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.brulee-raspberry {
  background-color: #849d8f;
}


.chocolate-lemon {
  background-color: #8996a6;
}

.fudre-strawberry {
  background-color: #9d8b84;
}

.stock-jam {
  background-image: url("../img/home_stock_jam_bg.jpg");
  background-repeat: no-repeat;
}

.stock-chocolate {
  background-image: url("../img/home_stock_chocolate_bg.jpg");
  background-repeat: no-repeat;
}

.stock-jam h3,
.stock-chocolate h3 {
  font-size:35px;
  line-height: 41px;
  font-weight: 700;
}

.stock-jam p,
.stock-chocolate p {
  font-size: 18px;
  font-weight: 700;
}

.catalog-item img{
  border-radius: 135px 135px;
}

.catalog-item a {
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  color:#ffffff;
}

.catalog-item .price,
.catalog-item .weight {
  font-size:45px;
  line-height: 1px;
  font-weight: 600;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .weight {
  font-size: 30px;
}

.catalog-item .button{
  display: none;
  border-bottom: none;
}
.catalog-item:hover .preview {
  display: block;
}

.catalog-item:hover {
  background-color: rgba(255,255,255, 0.2);
}

.about-us {
  background-color: #ffffff;
  background-image: url("../img/home_about_us_bg.jpg");
  background-repeat: no-repeat;
}

.about-us b {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.about-us-list p {
  font-weight: 400;
  color: #323232;
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/home_blog_bg.jpg");
  background-repeat: no-repeat;
}

.blog h2 {
  font-size:16px;
  color: #323232;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  border-bottom: 2px solid #353535;
}

.blog a:hover,
.blog a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232,77,55, 0.3);
}

.subscription {
  background-image: url("../img/home_subscription_background.svg");
  background-repeat: no-repeat;
}

.subscription .subscription-form {
  background-color: #f8f7f4;
}

.subscription-form p {
  font-weight: 400;
  color: #5a5a5a;
}

.contacts {
  background-color: #ffffff;
}

.address,
.tel {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.address b,
.tel b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}


.info a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.info a:hover,
.info a:active {
  color:#ffbc9e;
  border-bottom: 1px solid rgba(255,188,158, 0.3);
}

.button-academy {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;
}

.button-academy b {
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.crumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.crumbs .active {
  border-bottom: none;
}

.crumbs a:hover,
.crumbs a:active {
  color:#ffbc9e;
  border-bottom: 1px solid rgba(255,188,158, 0.3);
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}



.bar fieldset {
  border: none;
}

.bar legend {
  font-size: 14px;
  line-height: 16px;
}

.bar label,
.bar option,
.bar select,
.bar button{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.bar select,
.bar button,
.bar .decoration {
  background-color: rgba(255,255,255, 0.2);
}

.bar button {
  border: 2px solid #ffffff;
}

.bar button:hover {
  color:#323232;

  background-color: #ffffff;
}

.bar button:active,
.bar button:focus {
  color: #323232;
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}


.sorting-bar  option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.sorting-bar select:hover {
  color:#323232;
}

.sorting-bar select:focus,
.sorting-bar option:focus {
  background-color: #ffffff;
  border:none;
  outline: none;
}

.page-navigation .page {
  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
}

.page-navigation .active {
  color:#323232;

  background-color: #ffffff;
}

.page-navigation .page:hover {

  background-color: rgba(255,255,255, 0.2);
}


.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#ffffff;

  background-image: linear-gradient(to top, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border-radius: 10px 10px;
  outline: none;
  border: none;
}

.button:hover {

  background-image: linear-gradient(to top, rgb(231,74,53)0%, rgb(242,104,67)100%);
  background-color: rgba(255,255,255, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}


.button:focus {
  background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.sale-button {
  font-size: 32px;
  line-height: 44px;

  background-image: linear-gradient( to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 20px 20px;
}

.sale-button:hover {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.bar button {
  outline: none;
}

/*-----------Сеточные стили ------------*/





.sale,
.modal{
  display: none;
}




.main-header {
  width: 1146px;

  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-right: auto;
}

.main-navigation,
.user-navigation,
.site-navigation {
  margin: 0px;
  padding: 0px;
}

.structure-navigation {
  width: 1146px;

  margin: 0px;
  padding: 0px;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.main-navigation {
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main-navigation .logo {
  width: 154px;
  height: 64px;

  padding-top: 10px;

}


.site-navigation {
  width: 992px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation>li:not(:last-child) {
  padding-right: 30px;
}


.user-navigation {
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;



}


.user>a {
  display: block;
  padding: 10px 16px;

  background-color: rgba(255,255,255, 0.2);
  border-radius: 20px 20px;
}


.user-navigation li:not(:last-child){
  padding-right: 10px;
}

.ordering-offline {
  width: 1146px;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

.site-item,
.search,
.authorization,
.basket {
  position: relative;
}

.submenu,
.popup {
  position: absolute;
  right: 0px;
  margin-top: 5px;
}

.submenu {
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  width: 145px;

  left: 0px;

  border-radius: 5px;

}

.site-item:hover a {
  padding: 10px 15px;
  border-radius: 20px 20px;
}

.structure {
  width: 1146px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.stock-jam,
.stock-chocolate,
.subscription,
.blog {
  margin: 0px;
  padding: 0px;

  width: 50%;

  margin-right: 27px;

  border-radius: 15px;

  display: block;
  box-sizing: border-box;
}


.structure section:last-of-type{
  margin-right: 0px;
}

.stock-jam,
.stock-chocolate {
 padding:22px;

}

.stock-jam h3,
.stock-chocolate h3,
.stock-jam p,
.stock-chocolate p,
.blog h2,
.blog h3 {
  padding: 0px;
  margin: 0;


}


.catalog-list {
  margin: 0px;
  padding: 0px;

  width: 1146px;
  margin-left: auto;
  margin-right: auto;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.catalog-item {
  margin: 0px;
  padding: 0px;

  padding-left: auto;
  padding-right: auto;

  width: 267px;
  height: 407px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0px;
}




.about-us {
  width: 1146px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  padding: 20px;

  box-sizing: border-box;


  border-radius: 15px;

  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: repeat-x;
}

.about-us-list {
  width: 1095px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;

height: 209px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
}

.about-us-item {
  width: 50%;
}



.blog {
  background-position-y: 38%;
  background-position-x: 18%;

  padding: 22px;
}

.subscription-form {
  margin: 5px;
  padding: 30px 20px;

  width: 550px;


  box-sizing: border-box;

  display: block;


  border-radius: 15px;
}

.subscription-form p {
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
}

.subscription-form input {
  height: 40px;
}

.structure-map {
  width: 100%;
  height: 430px;

  position: relative;

  background-image: url("../img/home_map.png");
  background-repeat: no-repeat;
  background-position-x: 50% ;
  background-position-y: 50% ;
}


.structure-contacts {
  width: 1146px;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.map .map-pointer {
  display: block;
  position: absolute;
  bottom: 35%;
  left: 25%;
}


.contacts {
  width: 302px;
  height: 305px;

  padding: 32px 25px;
  margin: 62px 0px;

  box-sizing: border-box;

  border-radius: 15px;
}

.contacts p {
  margin: 0;
  padding: 0;
}





.main-footer {
  width: 1146px;

  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
  margin-bottom: 35px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.social {
  width: 30%;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: flex-end;
}

.social-button{
  padding-right: 16px;
}

.social-button svg {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  opacity: 0.8;
}

.social-button svg:hover {
  box-shadow: none;
  opacity: 1;
}

.social-button svg:active {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  opacity: 0.7;
}

.info {
  width: 30%;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
}

.info li {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}



.footer-copyright {
    width: 30%;
    margin: 0;
    padding: 0;


    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}



.crumbs {
  width: 1146px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.crumbs li:not(:last-child) {
  padding-right: 22px;
}

.page-title {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 36px;
}

.bar{
  width: 1146px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
}

.bar fieldset {
  margin: 0;
  padding: 0;

  padding-right: 15px;

  margin-bottom: 20px;
}

.bar legend {
  margin: 0;
  padding-left: 16px;
  padding-bottom: 10px;
}

.decoration {
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 30px;
}


.fat-bar label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  width: 25px;
  height: 25px;
  background-image: url("../img/catalog_bar_button_radio_off.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.fat-bar label {
  display: inline-block;
  vertical-align: center;
  margin-right: 17px;
}

.toppings label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  width: 25px;
  height: 25px;
  background-image: url("../img/catalog_bar_button_checkbox_off.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.toppings label {
  margin-right: 17px;
}

.bar select {
  outline: none;
  padding: 12px 16px;
  border-radius: 40px;
}


.bar button {
  margin-top: 28px;
  padding: 8px 16px;
  border-radius: 30px;
}


.page-navigation {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;

  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.page {
  padding: 6px 12px;
  border-radius: 50%;
}

.prev::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 13px;

  margin-right: 25px;



  background-image: url("../img/catalog_pagination_prev.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
  opacity: 0.2;
}



.next::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 13px;

  margin-left: 25px;

  background-image: url("../img/catalog_pagination_next.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  padding:14px 22px;
  border-radius: 25px;
}

.popup {
  border-radius: 5px;
  background-color: #f8f7f4;
}

.popup {
 padding: 20px 16px;
  box-sizing: border-box;
}

.popup input {
  width: 240px;
  height: 40px;
  margin-bottom: 20px;
}

.structure-authorization {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alt-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.search input{
  margin: 0px;
}

.popup-basket {
  padding-right: 10px;
  padding-left: 10px;
}

.menu-product-basket {
  width: 540px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  box-sizing: border-box;
}

.product-basket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.product-basket:last-child {
  border-bottom: 1px solid #cacac7;
}

.basket-name {
  width: 220px;
  margin-right: 34px;
}

.basket-price {
  margin-right: 30px;
}

.structure-basket {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}





.button-close {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
}

.button-close::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;

  margin-right: 14px;

  background-image: url("../img/header_basket_button_close.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
}

.product-basket img {
  border-radius: 50%;
  margin-right: 14px;
}


